In [22]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf
import matplotlib.pyplot as plt
import seaborn as sns

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
application_df

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...,...
34294,996009318,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,996010315,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,996012607,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,996015768,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,996086871,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(labels = ['EIN', 'NAME'], axis = 1, inplace = True)

In [4]:
application_df.APPLICATION_TYPE.value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Determine which values to replace if counts are less than ...?
replace_application = application_df.APPLICATION_TYPE.value_counts()\
.loc[application_df.APPLICATION_TYPE.value_counts() < 200].index

# Replace in dataframe
for app in replace_application:
    application_df.APPLICATION_TYPE = application_df.APPLICATION_TYPE.replace(app,"Other")
    
# Check to make sure binning was successful
application_df.APPLICATION_TYPE.value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
application_df.CLASSIFICATION.value_counts().head(20)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
Name: CLASSIFICATION, dtype: int64

In [7]:
# Determine which values to replace if counts are less than ..?
replace_class = application_df.CLASSIFICATION.value_counts()\
.loc[application_df.CLASSIFICATION.value_counts() < 500].index

# Replace in dataframe
for cls in replace_class:
    application_df.CLASSIFICATION = application_df.CLASSIFICATION.replace(cls,"Other")
    
# Check to make sure binning was successful
application_df.CLASSIFICATION.value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: CLASSIFICATION, dtype: int64

In [8]:
# Generate our categorical variable lists
# STATUS and IS_SUCCESSFUL are also categorical but are already encoded
application_cat=['APPLICATION_TYPE','AFFILIATION','CLASSIFICATION','USE_CASE',
                 'ORGANIZATION','INCOME_AMT','SPECIAL_CONSIDERATIONS']

In [9]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(X=application_df[application_cat]))
# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(application_cat)
encode_df.head()

/Users/jsaizlomas/miniforge3/envs/propensity2sell/lib/python3.10/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,AFFILIATION_CompanySponsored,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [10]:
encode_df.shape

(34299, 42)

In [11]:
#§ Merge one-hot encoded features and drop the originals
application_df = pd.concat([application_df.drop(labels=application_cat,axis=1), encode_df], axis=1)

In [12]:
# Split our preprocessed data into our features and target arrays
X = application_df.drop(labels=['IS_SUCCESSFUL'],axis=1)
y = application_df['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=17)

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train.drop(labels='ASK_AMT', axis=1))

# Scale the data
X_train_scaled = X_scaler.transform(X_train.drop(labels='ASK_AMT', axis=1))
X_test_scaled = X_scaler.transform(X_test.drop(labels='ASK_AMT', axis=1))

In [14]:
X_train_scaled.shape

(22980, 43)

In [15]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

nn = tf.keras.models.Sequential()

nn.add(tf.keras.layers.Dense(80, activation='tanh'))
nn.add(tf.keras.layers.Dense(50, activation='tanh'))
nn.add(tf.keras.layers.Dense(25, activation='tanh'))
nn.add(tf.keras.layers.Dense(10, activation='tanh'))

# Output layer
nn.add(tf.keras.layers.Dense(1, activation='sigmoid'))
nn.build(X_train_scaled.shape)

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (22980, 80)               3520

 dense_1 (Dense)             (22980, 50)               4050

 dense_2 (Dense)             (22980, 25)               1275

 dense_3 (Dense)             (22980, 10)               260

 dense_4 (Dense)             (22980, 1)                11

=================================================================
Total params: 9,116
Trainable params: 9,116
Non-trainable params: 0
_________________________________________________________________

2022-06-28 11:43:46.710864: I tensorflow/core/platform/cpu_feature_guard.cc:151] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [16]:
# Compile the model
nn.compile(optimizer="adam", loss="binary_crossentropy", metrics=["accuracy"])

In [17]:
cp_callback = tf.keras.callbacks.ModelCheckpoint(
    filepath="saved_models_opt/weights.{epoch:02d}.hdf5",
    verbose=1,
    save_weights_only=True,
    save_freq='epoch',
    period=5)

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of batches seen.

In [18]:
# Train the model
nn.fit(x=X_train_scaled, batch_size=16, y=y_train,validation_data=(X_test_scaled, y_test), epochs=100,)

Epoch 1/100
1437/1437 [==============================] - 3s 1ms/step - loss: 0.5664 - accuracy: 0.7229 - val_loss: 0.5627 - val_accuracy: 0.7259
Epoch 2/100
1437/1437 [==============================] - 2s 1ms/step - loss: 0.5543 - accuracy: 0.7304 - val_loss: 0.5564 - val_accuracy: 0.7312
Epoch 3/100
1437/1437 [==============================] - 2s 1ms/step - loss: 0.5506 - accuracy: 0.7300 - val_loss: 0.5546 - val_accuracy: 0.7304
Epoch 4/100
1437/1437 [==============================] - 2s 1ms/step - loss: 0.5483 - accuracy: 0.7312 - val_loss: 0.5534 - val_accuracy: 0.7291
Epoch 5/100
1437/1437 [==============================] - 2s 1ms/step - loss: 0.5471 - accuracy: 0.7315 - val_loss: 0.5550 - val_accuracy: 0.7290
Epoch 6/100
1437/1437 [==============================] - 2s 1ms/step - loss: 0.5454 - accuracy: 0.7317 - val_loss: 0.5554 - val_accuracy: 0.7248
Epoch 7/100
1437/1437 [==============================] - 2s 1ms/step - loss: 0.5451 - accuracy: 0.7312 - val_loss: 0.5544 - val_accuracy: 0.7296
Epoch 8/100
1437/1437 [==============================] - 2s 1ms/step - loss: 0.5430 - accuracy: 0.7328 - val_loss: 0.5551 - val_accuracy: 0.7295
Epoch 9/100
1437/1437 [==============================] - 2s 1ms/step - loss: 0.5428 - accuracy: 0.7326 - val_loss: 0.5545 - val_accuracy: 0.7269
Epoch 10/100
1437/1437 [==============================] - 2s 1ms/step - loss: 0.5415 - accuracy: 0.7343 - val_loss: 0.5557 - val_accuracy: 0.7296
Epoch 11/100
1437/1437 [==============================] - 2s 1ms/step - loss: 0.5412 - accuracy: 0.7352 - val_loss: 0.5531 - val_accuracy: 0.7300
Epoch 12/100
1437/1437 [==============================] - 2s 1ms/step - loss: 0.5396 - accuracy: 0.7343 - val_loss: 0.5544 - val_accuracy: 0.7297
Epoch 13/100
1437/1437 [==============================] - 2s 1ms/step - loss: 0.5399 - accuracy: 0.7358 - val_loss: 0.5549 - val_accuracy: 0.7302
Epoch 14/100
1437/1437 [==============================] - 2s 1ms/step - loss: 0.5389 - accuracy: 0.7361 - val_loss: 0.5543 - val_accuracy: 0.7250
Epoch 15/100
1437/1437 [==============================] - 2s 1ms/step - loss: 0.5381 - accuracy: 0.7369 - val_loss: 0.5554 - val_accuracy: 0.7205
Epoch 16/100
1437/1437 [==============================] - 2s 1ms/step - loss: 0.5384 - accuracy: 0.7369 - val_loss: 0.5540 - val_accuracy: 0.7300
Epoch 17/100
1437/1437 [==============================] - 2s 1ms/step - loss: 0.5376 - accuracy: 0.7371 - val_loss: 0.5548 - val_accuracy: 0.7311
Epoch 18/100
1437/1437 [==============================] - 2s 1ms/step - loss: 0.5372 - accuracy: 0.7372 - val_loss: 0.5546 - val_accuracy: 0.7295
Epoch 19/100
1437/1437 [==============================] - 2s 1ms/step - loss: 0.5365 - accuracy: 0.7382 - val_loss: 0.5550 - val_accuracy: 0.7307
Epoch 20/100
1437/1437 [==============================] - 2s 1ms/step - loss: 0.5363 - accuracy: 0.7377 - val_loss: 0.5562 - val_accuracy: 0.7302
Epoch 21/100
1437/1437 [==============================] - 2s 1ms/step - loss: 0.5362 - accuracy: 0.7386 - val_loss: 0.5559 - val_accuracy: 0.7205
Epoch 22/100
1437/1437 [==============================] - 2s 1ms/step - loss: 0.5356 - accuracy: 0.7367 - val_loss: 0.5551 - val_accuracy: 0.7314
Epoch 23/100
1437/1437 [==============================] - 2s 1ms/step - loss: 0.5352 - accuracy: 0.7385 - val_loss: 0.5550 - val_accuracy: 0.7301
Epoch 24/100
1437/1437 [==============================] - 2s 1ms/step - loss: 0.5351 - accuracy: 0.7369 - val_loss: 0.5549 - val_accuracy: 0.7310
Epoch 25/100
1437/1437 [==============================] - 2s 1ms/step - loss: 0.5351 - accuracy: 0.7383 - val_loss: 0.5553 - val_accuracy: 0.7321
Epoch 26/100
1437/1437 [==============================] - 2s 1ms/step - loss: 0.5348 - accuracy: 0.7382 - val_loss: 0.5553 - val_accuracy: 0.7302
Epoch 27/100
1437/1437 [==============================] - 2s 1ms/step - loss: 0.5342 - accuracy: 0.7384 - val_loss: 0.5557 - val_accuracy: 0.7300
Epoch 28/100
1437/1437 [==============================] - 2s 1ms/step - loss: 0.5340 - accuracy: 0.7385 - val_loss: 0.5564 - val_accuracy: 0.7306
Epoch 29/100
1437/1437 [==============================] - 2s 1ms/step - loss: 0.5337 - accuracy: 0.7393 - val_loss: 0.5569 - val_accuracy: 0.7214
Epoch 30/100
1437/1437 [==============================] - 2s 1ms/step - loss: 0.5340 - accuracy: 0.7397 - val_loss: 0.5548 - val_accuracy: 0.7296
Epoch 31/100
1437/1437 [==============================] - 2s 1ms/step - loss: 0.5334 - accuracy: 0.7401 - val_loss: 0.5554 - val_accuracy: 0.7305
Epoch 32/100
1437/1437 [==============================] - 2s 1ms/step - loss: 0.5332 - accuracy: 0.7393 - val_loss: 0.5562 - val_accuracy: 0.7289
Epoch 33/100
1437/1437 [==============================] - 2s 1ms/step - loss: 0.5331 - accuracy: 0.7389 - val_loss: 0.5557 - val_accuracy: 0.7306
Epoch 34/100
1437/1437 [==============================] - 2s 1ms/step - loss: 0.5332 - accuracy: 0.7390 - val_loss: 0.5565 - val_accuracy: 0.7270
Epoch 35/100
1437/1437 [==============================] - 2s 1ms/step - loss: 0.5328 - accuracy: 0.7388 - val_loss: 0.5562 - val_accuracy: 0.7297
Epoch 36/100
1437/1437 [==============================] - 2s 1ms/step - loss: 0.5329 - accuracy: 0.7399 - val_loss: 0.5566 - val_accuracy: 0.7297
Epoch 37/100
1437/1437 [==============================] - 2s 1ms/step - loss: 0.5327 - accuracy: 0.7393 - val_loss: 0.5571 - val_accuracy: 0.7309
Epoch 38/100
1437/1437 [==============================] - 2s 1ms/step - loss: 0.5327 - accuracy: 0.7396 - val_loss: 0.5556 - val_accuracy: 0.7310
Epoch 39/100
1437/1437 [==============================] - 2s 1ms/step - loss: 0.5329 - accuracy: 0.7400 - val_loss: 0.5560 - val_accuracy: 0.7316
Epoch 40/100
1437/1437 [==============================] - 2s 1ms/step - loss: 0.5328 - accuracy: 0.7396 - val_loss: 0.5568 - val_accuracy: 0.7305
Epoch 41/100
1437/1437 [==============================] - 2s 1ms/step - loss: 0.5326 - accuracy: 0.7399 - val_loss: 0.5588 - val_accuracy: 0.7309
Epoch 42/100
1437/1437 [==============================] - 2s 1ms/step - loss: 0.5328 - accuracy: 0.7399 - val_loss: 0.5583 - val_accuracy: 0.7282
Epoch 43/100
1437/1437 [==============================] - 2s 1ms/step - loss: 0.5321 - accuracy: 0.7402 - val_loss: 0.5572 - val_accuracy: 0.7297
Epoch 44/100
1437/1437 [==============================] - 2s 1ms/step - loss: 0.5324 - accuracy: 0.7397 - val_loss: 0.5583 - val_accuracy: 0.7305
Epoch 45/100
1437/1437 [==============================] - 2s 1ms/step - loss: 0.5319 - accuracy: 0.7412 - val_loss: 0.5585 - val_accuracy: 0.7294
Epoch 46/100
1437/1437 [==============================] - 2s 1ms/step - loss: 0.5319 - accuracy: 0.7407 - val_loss: 0.5577 - val_accuracy: 0.7311
Epoch 47/100
1437/1437 [==============================] - 2s 1ms/step - loss: 0.5314 - accuracy: 0.7400 - val_loss: 0.5564 - val_accuracy: 0.7302
Epoch 48/100
1437/1437 [==============================] - 1s 1ms/step - loss: 0.5318 - accuracy: 0.7393 - val_loss: 0.5585 - val_accuracy: 0.7298
Epoch 49/100
1437/1437 [==============================] - 1s 1ms/step - loss: 0.5317 - accuracy: 0.7404 - val_loss: 0.5581 - val_accuracy: 0.7308
Epoch 50/100
1437/1437 [==============================] - 1s 1ms/step - loss: 0.5311 - accuracy: 0.7401 - val_loss: 0.5596 - val_accuracy: 0.7297
Epoch 51/100
1437/1437 [==============================] - 2s 1ms/step - loss: 0.5313 - accuracy: 0.7408 - val_loss: 0.5585 - val_accuracy: 0.7295
Epoch 52/100
1437/1437 [==============================] - 1s 1ms/step - loss: 0.5314 - accuracy: 0.7400 - val_loss: 0.5599 - val_accuracy: 0.7303
Epoch 53/100
1437/1437 [==============================] - 1s 1ms/step - loss: 0.5313 - accuracy: 0.7396 - val_loss: 0.5602 - val_accuracy: 0.7294
Epoch 54/100
1437/1437 [==============================] - 1s 1ms/step - loss: 0.5315 - accuracy: 0.7395 - val_loss: 0.5589 - val_accuracy: 0.7293
Epoch 55/100
1437/1437 [==============================] - 1s 1ms/step - loss: 0.5315 - accuracy: 0.7397 - val_loss: 0.5583 - val_accuracy: 0.7298
Epoch 56/100
1437/1437 [==============================] - 1s 1ms/step - loss: 0.5311 - accuracy: 0.7397 - val_loss: 0.5593 - val_accuracy: 0.7303
Epoch 57/100

1437/1437 [==============================] - 1s 1ms/step - loss: 0.5310 - accuracy: 0.7393 - val_loss: 0.5619 - val_accuracy: 0.7295
Epoch 58/100
1437/1437 [==============================] - 1s 1ms/step - loss: 0.5310 - accuracy: 0.7407 - val_loss: 0.5585 - val_accuracy: 0.7296
Epoch 59/100
1437/1437 [==============================] - 1s 1ms/step - loss: 0.5308 - accuracy: 0.7402 - val_loss: 0.5592 - val_accuracy: 0.7297
Epoch 60/100
1437/1437 [==============================] - 1s 1ms/step - loss: 0.5304 - accuracy: 0.7409 - val_loss: 0.5600 - val_accuracy: 0.7297
Epoch 61/100
1437/1437 [==============================] - 1s 1ms/step - loss: 0.5305 - accuracy: 0.7396 - val_loss: 0.5607 - val_accuracy: 0.7292
Epoch 62/100
1437/1437 [==============================] - 1s 1ms/step - loss: 0.5307 - accuracy: 0.7396 - val_loss: 0.5618 - val_accuracy: 0.7295
Epoch 63/100
1437/1437 [==============================] - 1s 1ms/step - loss: 0.5308 - accuracy: 0.7404 - val_loss: 0.5617 - val_accuracy: 0.7295
Epoch 64/100
1437/1437 [==============================] - 1s 1ms/step - loss: 0.5307 - accuracy: 0.7407 - val_loss: 0.5610 - val_accuracy: 0.7304
Epoch 65/100
1437/1437 [==============================] - 1s 1ms/step - loss: 0.5303 - accuracy: 0.7405 - val_loss: 0.5597 - val_accuracy: 0.7297
Epoch 66/100
1437/1437 [==============================] - 1s 1ms/step - loss: 0.5302 - accuracy: 0.7406 - val_loss: 0.5609 - val_accuracy: 0.7297
Epoch 67/100
1437/1437 [==============================] - 1s 1ms/step - loss: 0.5305 - accuracy: 0.7406 - val_loss: 0.5598 - val_accuracy: 0.7290
Epoch 68/100
1437/1437 [==============================] - 1s 1ms/step - loss: 0.5304 - accuracy: 0.7400 - val_loss: 0.5617 - val_accuracy: 0.7302
Epoch 69/100
1437/1437 [==============================] - 1s 1ms/step - loss: 0.5310 - accuracy: 0.7399 - val_loss: 0.5617 - val_accuracy: 0.7302
Epoch 70/100
1437/1437 [==============================] - 1s 1ms/step - loss: 0.5303 - accuracy: 0.7404 - val_loss: 0.5605 - val_accuracy: 0.7302
Epoch 71/100
1437/1437 [==============================] - 1s 1ms/step - loss: 0.5304 - accuracy: 0.7408 - val_loss: 0.5597 - val_accuracy: 0.7295
Epoch 72/100
1437/1437 [==============================] - 1s 1ms/step - loss: 0.5303 - accuracy: 0.7406 - val_loss: 0.5609 - val_accuracy: 0.7300
Epoch 73/100
1437/1437 [==============================] - 2s 1ms/step - loss: 0.5304 - accuracy: 0.7402 - val_loss: 0.5598 - val_accuracy: 0.7306
Epoch 74/100
1437/1437 [==============================] - 1s 1ms/step - loss: 0.5302 - accuracy: 0.7403 - val_loss: 0.5601 - val_accuracy: 0.7305
Epoch 75/100
1437/1437 [==============================] - 1s 1ms/step - loss: 0.5301 - accuracy: 0.7410 - val_loss: 0.5614 - val_accuracy: 0.7296
Epoch 76/100
1437/1437 [==============================] - 1s 1ms/step - loss: 0.5300 - accuracy: 0.7409 - val_loss: 0.5614 - val_accuracy: 0.7293
Epoch 77/100
1437/1437 [==============================] - 1s 1ms/step - loss: 0.5299 - accuracy: 0.7405 - val_loss: 0.5598 - val_accuracy: 0.7299
Epoch 78/100
1437/1437 [==============================] - 1s 1ms/step - loss: 0.5298 - accuracy: 0.7401 - val_loss: 0.5637 - val_accuracy: 0.7297
Epoch 79/100
1437/1437 [==============================] - 2s 1ms/step - loss: 0.5302 - accuracy: 0.7413 - val_loss: 0.5597 - val_accuracy: 0.7307
Epoch 80/100
1437/1437 [==============================] - 2s 1ms/step - loss: 0.5301 - accuracy: 0.7406 - val_loss: 0.5615 - val_accuracy: 0.7295
Epoch 81/100
1437/1437 [==============================] - 2s 1ms/step - loss: 0.5302 - accuracy: 0.7403 - val_loss: 0.5606 - val_accuracy: 0.7293
Epoch 82/100
1437/1437 [==============================] - 2s 1ms/step - loss: 0.5302 - accuracy: 0.7405 - val_loss: 0.5605 - val_accuracy: 0.7300
Epoch 83/100
1437/1437 [==============================] - 1s 1ms/step - loss: 0.5305 - accuracy: 0.7402 - val_loss: 0.5603 - val_accuracy: 0.7301
Epoch 84/100
1437/1437 [==============================] - 2s 1ms/step - loss: 0.5299 - accuracy: 0.7394 - val_loss: 0.5620 - val_accuracy: 0.7300
Epoch 85/100
1437/1437 [==============================] - 2s 1ms/step - loss: 0.5298 - accuracy: 0.7408 - val_loss: 0.5624 - val_accuracy: 0.7289
Epoch 86/100
1437/1437 [==============================] - 2s 1ms/step - loss: 0.5298 - accuracy: 0.7397 - val_loss: 0.5612 - val_accuracy: 0.7297
Epoch 87/100
1437/1437 [==============================] - 2s 1ms/step - loss: 0.5298 - accuracy: 0.7401 - val_loss: 0.5614 - val_accuracy: 0.7305
Epoch 88/100
1437/1437 [==============================] - 2s 1ms/step - loss: 0.5299 - accuracy: 0.7393 - val_loss: 0.5616 - val_accuracy: 0.7290
Epoch 89/100
1437/1437 [==============================] - 2s 1ms/step - loss: 0.5296 - accuracy: 0.7400 - val_loss: 0.5629 - val_accuracy: 0.7301
Epoch 90/100
1437/1437 [==============================] - 2s 1ms/step - loss: 0.5296 - accuracy: 0.7407 - val_loss: 0.5639 - val_accuracy: 0.7304
Epoch 91/100
1437/1437 [==============================] - 2s 1ms/step - loss: 0.5303 - accuracy: 0.7407 - val_loss: 0.5629 - val_accuracy: 0.7311
Epoch 92/100
1437/1437 [==============================] - 1s 1ms/step - loss: 0.5302 - accuracy: 0.7406 - val_loss: 0.5612 - val_accuracy: 0.7299
Epoch 93/100
1437/1437 [==============================] - 2s 1ms/step - loss: 0.5297 - accuracy: 0.7401 - val_loss: 0.5619 - val_accuracy: 0.7299
Epoch 94/100
1437/1437 [==============================] - 1s 1ms/step - loss: 0.5296 - accuracy: 0.7412 - val_loss: 0.5615 - val_accuracy: 0.7291
Epoch 95/100
1437/1437 [==============================] - 2s 1ms/step - loss: 0.5296 - accuracy: 0.7411 - val_loss: 0.5634 - val_accuracy: 0.7305
Epoch 96/100
1437/1437 [==============================] - 1s 1ms/step - loss: 0.5297 - accuracy: 0.7405 - val_loss: 0.5620 - val_accuracy: 0.7300
Epoch 97/100
1437/1437 [==============================] - 2s 1ms/step - loss: 0.5292 - accuracy: 0.7414 - val_loss: 0.5630 - val_accuracy: 0.7306
Epoch 98/100
1437/1437 [==============================] - 2s 1ms/step - loss: 0.5296 - accuracy: 0.7416 - val_loss: 0.5630 - val_accuracy: 0.7292
Epoch 99/100
1437/1437 [==============================] - 2s 1ms/step - loss: 0.5290 - accuracy: 0.7412 - val_loss: 0.5657 - val_accuracy: 0.7297
Epoch 100/100
1437/1437 [==============================] - 2s 1ms/step - loss: 0.5294 - accuracy: 0.7414 - val_loss: 0.5636 - val_accuracy: 0.7295

In [20]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

354/354 - 0s - loss: 0.5636 - accuracy: 0.7295 - 164ms/epoch - 462us/step
Loss: 0.5636128187179565, Accuracy: 0.7294813990592957

In [24]:
application_df.columns.to_list()

['EIN',
 'NAME',
 'APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'STATUS',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS',
 'ASK_AMT',
 'IS_SUCCESSFUL']